In [1]:
import pandas
import numpy
import seaborn
import statistics
import matplotlib.pyplot as plt

In [2]:
dateparse = lambda x: pandas.to_datetime(x, utc=False, format='%Y-%m-%d',errors='coerce')

dataset = pandas.read_csv('tweet_energia.csv', sep=';',encoding='utf-8', parse_dates=['created_at'], date_parser=dateparse)

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,7,8,9,11,21,22,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dataset.head()

,Unnamed: 0,id,created_at,user.name,user.screen_name,user.followers_count,text,retweet_count,favorite_count,retweeted_status.retweet_count,...,lang,user.location,coordinates.coordinates.0,coordinates.coordinates.1,place.country,place.country_code,place.full_name,place.id,place.name,place.place_type
0,0,8.18862e+17,2017-01-10 16:49:00,Laureano Romani,laureanodeco,1228,Un adelanto de lo que prepararemos para mis am...,NaN,NaN,NaN,...,es,Buenos Aires - Argentina,-58.453468,-34.53929,Argentina,AR,"Ciudad Autónoma de Buenos Aires, Argentina",1ed82be977be0cfa,Ciudad Autónoma de Buenos Aires,admin
1,1,8.18581e+17,2017-01-09 22:11:09,Carlos Saavedra,carlosdsaavedra,4260,@jaime_gabaldoni @agendautomotriz @univisionau...,NaN,NaN,NaN,...,es,"Buenos Aires, Argentina",NaN,NaN,Argentina,AR,"Buenos Aires, Argentina",4afa2757051c5192,Buenos Aires,admin
2,2,8.18545e+17,2017-01-09 19:48:28,Micaa ツ,RPMicaela93,746,"Tomar coca cola caliente, sin gas y de ayer fu...",NaN,NaN,NaN,...,es,"Buenos Aires, Argentina",NaN,NaN,Argentina,AR,"Buenos Aires, Argentina",4afa2757051c5192,Buenos Aires,admin
3,3,8.18983e+17,2017-01-11 00:50:09,♚ Emilia ♚,EmiTolosaGuidi,315,Vuelvo negra carbon,NaN,NaN,NaN,...,es,"Carmen de Patagones, Argentina",NaN,NaN,Argentina,AR,"Río Negro, Argentina",4e51dcd7e0471448,Río Negro,admin
4,4,8.19292e+17,2017-01-11 21:18:45,JenniTeAmo♥,JuaniiM14,1404,Tiraron gas y abandonaron.,NaN,NaN,NaN,...,es,"Córdoba, Argentina",NaN,NaN,Argentina,AR,"Córdoba, Argentina",0b79f7e718cb54b9,Córdoba,admin

In [4]:
dataset.text.describe()

count                         224335
unique                         66102
top       Los ganadores del modelo 👍
freq                           24289
Name: text, dtype: object

In [5]:
len(dataset.columns)

27

In [6]:
dataset.columns

Index(['Unnamed: 0', 'id', 'created_at', 'user.name', 'user.screen_name',
       'user.followers_count', 'text', 'retweet_count', 'favorite_count',
       'retweeted_status.retweet_count', 'retweeted_status.id',
       'retweeted_status.favorite_count', 'retweeted_status.text',
       'entities.hashtags.0.text', 'entities.hashtags.1.text',
       'entities.hashtags.2.text', 'entities.hashtags.3.text', 'lang',
       'user.location', 'coordinates.coordinates.0',
       'coordinates.coordinates.1', 'place.country', 'place.country_code',
       'place.full_name', 'place.id', 'place.name', 'place.place_type'],
      dtype='object')

In [7]:
dataset.get_dtype_counts()

datetime64[ns]     1
float64            3
object            23
dtype: int64

In [8]:
dataset.count()

Unnamed: 0                         224438
id                                 224371
created_at                         224288
user.name                          224310
user.screen_name                   224311
user.followers_count               224335
text                               224335
retweet_count                      194561
favorite_count                     194556
retweeted_status.retweet_count     133011
retweeted_status.id                133010
retweeted_status.favorite_count    133058
retweeted_status.text              133058
entities.hashtags.0.text            34831
entities.hashtags.1.text            10750
entities.hashtags.2.text             3547
entities.hashtags.3.text             1465
lang                               199928
user.location                      199928
coordinates.coordinates.0             195
coordinates.coordinates.1             194
place.country                        4961
place.country_code                   4961
place.full_name                      4961
place.id                             4961
place.name                           4961
place.place_type                     4961
dtype: int64

In [9]:
dataset['id'].count()

224371

In [10]:
dataset.id.describe()

count     2.243710e+05
unique    1.280980e+05
top       8.710188e+17
freq      2.428900e+04
Name: id, dtype: float64

In [11]:
dataset['id'].nunique()

128098

In [12]:
dataset.describe()

,retweeted_status.id,coordinates.coordinates.0,coordinates.coordinates.1
count,1.330100e+05,195.000000,194.000000
mean,8.588033e+17,-56.588057,-31.228062
std,2.337675e+16,18.928925,18.040451
min,1.289795e+17,-118.674220,-54.288207
25%,8.478830e+17,-58.958902,-34.657510
50%,8.552237e+17,-58.440119,-34.593650
75%,8.725656e+17,-58.392334,-34.547420
max,8.902749e+17,98.440000,59.950000

In [13]:
dataset.describe(include=['object'])

,Unnamed: 0,id,user.name,user.screen_name,user.followers_count,text,retweet_count,favorite_count,retweeted_status.retweet_count,retweeted_status.favorite_count,...,entities.hashtags.2.text,entities.hashtags.3.text,lang,user.location,place.country,place.country_code,place.full_name,place.id,place.name,place.place_type
count,224438,2.243710e+05,224310,224311,224335,224335,194561,194556.0,133011.0,133058,...,3547,1465,199928,199928,4961,4961,4961,4961,4961,4961
unique,200065,1.280980e+05,45115,49959,12371,66102,6,3.0,5074.0,5213,...,827,386,31,7218,28,25,228,238,226,3
top,139444,8.710188e+17,Primera Mañana G.V.,PrimeraManiana,236,Los ganadores del modelo 👍,0.0,0.0,1.0,0.0,...,analizador,multifunción,es,"Buenos Aires, Argentina",Argentina,AR,"Ciudad Autónoma de Buenos Aires, Argentina",018f1cde6bad9747,Ciudad Autónoma de Buenos Aires,city
freq,24289,2.428900e+04,24300,24300,24453,24289,98209,161817.0,11503.0,11929,...,135,135,185670,54997,4851,4852,930,919,930,4390

In [14]:
fecha=pandas.to_datetime(dataset['created_at'], utc=False, format='%Y-%m-%d',errors='coerce')

In [15]:
fecha[:10]

0   2017-01-10 16:49:00
1   2017-01-09 22:11:09
2   2017-01-09 19:48:28
3   2017-01-11 00:50:09
4   2017-01-11 21:18:45
5   2017-01-13 15:13:58
6   2017-01-11 00:03:37
7   2017-01-11 23:40:17
8   2017-01-12 00:21:23
9   2017-01-12 16:32:49
Name: created_at, dtype: datetime64[ns]

In [16]:
dataset.describe(include=['object'])

,Unnamed: 0,id,user.name,user.screen_name,user.followers_count,text,retweet_count,favorite_count,retweeted_status.retweet_count,retweeted_status.favorite_count,...,entities.hashtags.2.text,entities.hashtags.3.text,lang,user.location,place.country,place.country_code,place.full_name,place.id,place.name,place.place_type
count,224438,2.243710e+05,224310,224311,224335,224335,194561,194556.0,133011.0,133058,...,3547,1465,199928,199928,4961,4961,4961,4961,4961,4961
unique,200065,1.280980e+05,45115,49959,12371,66102,6,3.0,5074.0,5213,...,827,386,31,7218,28,25,228,238,226,3
top,139444,8.710188e+17,Primera Mañana G.V.,PrimeraManiana,236,Los ganadores del modelo 👍,0.0,0.0,1.0,0.0,...,analizador,multifunción,es,"Buenos Aires, Argentina",Argentina,AR,"Ciudad Autónoma de Buenos Aires, Argentina",018f1cde6bad9747,Ciudad Autónoma de Buenos Aires,city
freq,24289,2.428900e+04,24300,24300,24453,24289,98209,161817.0,11503.0,11929,...,135,135,185670,54997,4851,4852,930,919,930,4390

In [17]:
dataset['created_at'].max() - dataset['created_at'].min()

Timedelta('200 days 22:04:59')

In [18]:
dataset['created_at'].describe()

count                  224288
unique                 124244
top       2017-06-03 15:00:42
freq                    24289
first     2017-01-06 20:19:02
last      2017-07-26 18:24:01
Name: created_at, dtype: object

In [19]:
dataset['created_at'].isnull().sum()

150

In [20]:
dataset.loc[dataset['created_at'].isnull()]

,Unnamed: 0,id,created_at,user.name,user.screen_name,user.followers_count,text,retweet_count,favorite_count,retweeted_status.retweet_count,...,lang,user.location,coordinates.coordinates.0,coordinates.coordinates.1,place.country,place.country_code,place.full_name,place.id,place.name,place.place_type
3171,"Anuncian aumento de combustibles, luz,gas,agua...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3172,Siguen beneficiándo a lo…,NaN,NaT,4.0,8.188104157024911e+17,1.0,Anuncian acuerdo con Vaca Muerta (Shell),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3173,"Anuncian aumento de combustibles, luz,gas,agua...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3174,Siguen beneficiándo a los que mas tienen,NaN,NaT,NaN,NaN,es,"Buenos Aires, Argentina",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3178,"Anuncian aumento de combustibles, luz,gas,agua...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3179,Siguen beneficiándo a lo…,NaN,NaT,4.0,8.188104157024911e+17,1.0,Anuncian acuerdo con Vaca Muerta (Shell),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3180,"Anuncian aumento de combustibles, luz,gas,agua...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3181,Siguen beneficiándo a los que mas tienen,NaN,NaT,NaN,NaN,es,"Buenos Aires, Argentina",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8938,-ay graciassss,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8939,"-no de nada, ahora dame la plata que necesito ...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8940,MAMA TE ODIO,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16263,Aumento del 30%,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16264,@SegundaPgina,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16266,Aumento del 30%,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16267,@SegundaPgina,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16269,Aumento del 30%,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16270,@SegundaPgina,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45638,https://t.co/G6TYUgKFtr https://t.co/tXvHuWNyIG,0.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52204,El Burro lo…,0.0,NaT,3.0,8.479309866964623e+17,1.0,Los globos subnormales festejan que el #Tarifa...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52205,El Burro los representa bien,Tarifazo,NaT,NaN,NaN,es,"Buenos Aires, Argentina",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52207,El Burro lo…,0.0,NaT,3.0,8.479309866964623e+17,1.0,Los globos subnormales festejan que el #Tarifa...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52208,El Burro los representa bien,Tarifazo,NaT,NaN,NaN,es,"Buenos Aires, Argentina",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52210,El Burro lo…,0.0,NaT,3.0,8.479309866964623e+17,1.0,Los globos subnormales festejan que el #Tarifa...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52211,El Burro los representa bien,Tarifazo,NaT,NaN,NaN,es,"Buenos Aires, Argentina",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54933,-2 Noticias:1 mala y otra mala,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54934,-La mala?,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54935,-Aumenta el gas,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54936,-La mala?,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54937,-Vuelve a aumentar en noviembre,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54938,-Mañana vamos a la Marcha?,0.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190698,18 mil de gas,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190699,TARIFAS DE LOCOS,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190700,@RolandoGrana,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190702,18 mil de gas,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190703,TARIFAS DE LOCOS,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190704,@RolandoGrana,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190706,18 mil de gas,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190707,TARIFAS DE LOCOS,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190708,@RolandoGrana,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202623,Me cuesta no llorar.,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202625,Me cuesta no llorar.,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202627,Me cuesta no llorar.,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209286,"Que bueno @SebadriussiOk en el momento justo, ...",NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209287,Y @AbatallaOK impresionante,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209288,"Sin gas, se comieron 3",0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211536,-Te fuiste a la B,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211537,-3-1,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211538,-te fuiste a la B,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211539,-Tiraste Gas,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211540,-te fuiste..,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211541,*conversación con un bostero* UNICO Y MEDIOCRE...,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211543,-Te fuiste a la B,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211544,-3-1,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211545,-te fuiste a la B,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211546,-Tiraste Gas,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211547,-te fuiste..,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211548,*conversación con un bostero* UNICO Y MEDIOCRE...,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222111,Ambos nos mienten,0,NaT,2.0,8.78699788216279e+17,3.0,Para Maduro la represión solo es con agua y ga...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222112,Ambos nos mienten,NaN,NaT,NaN,NaN,es,"Buenos Aires, Argentina",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223086,Perfección.,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# ELiminar los nulos
dataset=dataset[dataset['created_at'].isnull()==False]

In [22]:
dataset.drop_duplicates(subset=['id'], keep='first', inplace=True)

In [23]:
dataset['id'].count()

128093

In [24]:
dataset['id'].nunique()

128093

In [25]:
dataset.shape

(128093, 27)

In [26]:
dataset[dataset.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, id, created_at, user.name, user.screen_name, user.followers_count, text, retweet_count, favorite_count, retweeted_status.retweet_count, retweeted_status.id, retweeted_status.favorite_count, retweeted_status.text, entities.hashtags.0.text, entities.hashtags.1.text, entities.hashtags.2.text, entities.hashtags.3.text, lang, user.location, coordinates.coordinates.0, coordinates.coordinates.1, place.country, place.country_code, place.full_name, place.id, place.name, place.place_type]
Index: []

[0 rows x 27 columns]

In [27]:
def hashit(val):
    if isinstance(val, float): 
        return str(val)
    return md5(val.encode('utf-8')).hexdigest()


dataset['user.name']=dataset['user.name'].apply(hashit)
dataset['user.screen_name']=dataset['user.screen_name'].apply(hashit)

NameError: name 'md5' is not defined

In [ ]:
dataset[:10]



#kickstarter_2018.to_csv("../input/kickstarter-projects/ks-projects-201801-for-pandas.csv")

In [ ]:
import chardet
import string

string.ascii_letters + string.digits

In [ ]:
dataset=dataset.drop('Unnamed: 0',axis=1)

In [ ]:
dataset.columns.str.extract(r'^(\w+)$')

In [ ]:
#dataset = dataset.drop('Unnamed: 0', axis=1)
dataset.columns = dataset.columns.str.replace('.', '_')
dataset.columns.str.extract(r'^(\w+)$')

In [ ]:
dataset[:100]

In [ ]:
missing_values_count = dataset.isnull().sum()

In [ ]:
missing_values_count

In [ ]:
dataset[dataset['lang'].isnull()==False]

In [ ]:
dataset=dataset[dataset['lang'].isnull()==False]

In [ ]:
dataset[dataset['lang'].isnull()==True]

In [ ]:
missing_values_count = dataset.isnull().sum()
missing_values_count

In [ ]:
dataset.shape

In [81]:
len(dataset.dropna(subset=['place_country']))/len(dataset)

0.023232204911951895

In [82]:
len(dataset.dropna(subset=['user_location']))/len(dataset)

1.0

In [80]:
dataset.loc[dataset['user_location']]

128055

In [ ]:
dataset['user_location'] = dataset['user_location'].str.lower()

dataset[dataset['user_location'].str.contains("argentina",na=False)]

#.groupby(by=['user_location'])['id'].count()

In [87]:
dataset.groupby(by=['user_location'])['id'].count()

user_location
                    Argentina.     1
            Tucuman-Argentina      3
           Mendoza - Argentina     1
           Republica Argentina    32
          Quilmes - Argentina      3
       Formosa-Argentina           1
    Argentina Barrio Almagro       1
   Buenos Aires  - Argentina-      1
   Entre Rios, Argentina           1
  Bahia Blanca  Pcia Argentina     2
  Buenos Aires, Argentina          3
  Ctes. Argentina                  3
  ╰ CdelU-ER-Argentina╮            1
 (Argentina)                       2
 , Argentina                       1
 - Argentina -                     1
 -Argentina-                       1
 25 de Mayo, Argentina             2
 6ta Sección - Bs.As-Argentina    12
 Alberti Pcia Bs As Argentina      3
 Argentina  ♥                      1
 Argentina - Entre Ríos            1
 Argentina - General Madariaga     2
 Argentina - IV                    1
 Argentina - La Plata              1
 Argentina -tucuman                1
 Argentina / En mi imaginación     1
 Argentina Carajo!                 1
 Argentina Entre Ríos Paraná       1
 Argentina bs as                   1
                                  ..
☆ Argentina ☆                      4
☆Charata☆Chaco☆Argentina☆          2
♛Argentina papá♛                   4
♡ Buenos Aires, Argentina ♡        1
♡Argentina♡ favs = favoritas       1
♢Saavedra♢ Bs. As. ♢Argentina      1
♥ Argentina ♥‿♥  Narnia♥           1
♥Argentina♥                        1
♦ Argentina ♦                      2
♦Argentina - Miami♦                1
♦Buenos Aires, Argentina           1
⚠Córdoba, Argentina⚠               1
⚽ Boedo - Argentina ⚽             14
✇Argentina . Buenos Aires  ✇       1
✈ Buenos aires , Argentina         1
✈Caballito, Argentina              2
✈Rafaela, Argentina                1
✌ Buenos Aires, Argentina ✌        3
✠ Argentina ✠                      2
✩ ~ Argentina ~ ✩                  4
❄ Villa Maria, Argentina ❄         1
❤ Buenos Aires, Argentina ❤       23
❤ Salta, Argentina                 4
⭐ Boedo ~ Argentina ⭐              5
《Argentina》                        1
台灣 | Oz | Argentina | 日本           3
臺灣 | Oz | Argentina | 日本           1
.*¨°º¤•°Argentina°•¤º°¨*.        1
️️️️Argentina Bs As                1
🇦🇷 Argentina | Dallas TX           2
Name: id, Length: 7218, dtype: int64